.container {
    width: 200px;
    height: 100%;
    background: #303030;
    display: flex;
    flex-direction: column;
}
.header {
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 1.5em;
    background-color: #494949;
}
.nodes {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow-y: auto;
    padding: 5px;
}