<!-- <div class="background">

</div>

<div class="center">
    <div class="text">Music Manager</div>
</div>

<app-player></app-player> -->

<div class="vertical_container">
    <mat-drawer-container class="horizontal_container" autosize>
        <mat-drawer #explorerDrawer mode="side" opened="true">
            <app-explorer></app-explorer>
        </mat-drawer>

        <app-viewer></app-viewer>

        <mat-drawer #editorDrawer mode="side" position="end" opened="true">
            <app-editor></app-editor>
        </mat-drawer>
    </mat-drawer-container>
    <app-player></app-player>
</div>